body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.input-container {
  width: 60%;
  margin: 80px auto;
  background-color: rgb(230, 197, 240);
}

.main-input {
  position: relative;
  background: transparent;
  border: 2px solid rgb(98, 14, 124);
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  z-index: 2;
  position: relative;
  font-size: 1.9rem;
  line-height: 1;
  color: rgb(94, 8, 120);
  caret-color: rgb(94, 8, 120);
}

.input-shadow {
  position: absolute;
  color: rgb(199, 171, 206);
  padding: 14px 9px;
  font-size: 1.9rem;
  line-height: 1;
  overflow: hidden;
  z-index: 1;
}
